# Autotools
compile
config.log
config.status
missing
mkinstalldirs
.deps
autom4te.cache
Makefile
/tests/Makefile
libtool
.vscode


# Ports (node)
ports/node/build
ports/node/node_modules
ports/node/cld.node

# Ports (python)
ports/python/testData.pyc

# Ports (ruby)
ports/ruby/pkg/

# Build artifacts
*.o
*.lo
*.la
.libs
*/.dirstamp

# Test artifacts
tests/test-suite.log
tests/test.log
tests/test.trs
